[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
#Werkzeug==0.14.1
Werkzeug=="*"
#Flask==1.0.2
Flask=="*"
#Jinja2==2.10
Jinja2>0, >2.0
gunicorn>=19.9.0

[requires]
python_version = "3.6"
